<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

    body {
        font-family: "Arial", Arial, serif;

        background-color: crimson;
        background-image: url("https://blog.magicpin.in/wp-content/uploads/2017/07/pizza.jpg");
    }
    header {
        font-family: "Arial", Arial, serif;
        text-align: center;
        background-color: crimson;
        background-image: url("https://blog.magicpin.in/wp-content/uploads/2017/07/pizza.jpg");
    }
    #escribir {
        float: left;

        display: block;
        color: #000000;
        text-align: center;
        padding: 16px 18px;
        font-size: 19px;
    }

    .topnav {
        overflow: hidden;
        background-color:#000000;
    }

    #mediana {
        font-family: "Arial", Arial, serif;
        background-color: crimson;
        background: url('https://club.playerone.com.co/wp-content/uploads/2015/09/fondo-blanco.jpg');
        width:80%;
        height:1000%;
        margin:3%;
    }

    .topnav a {
        float: right;
        display: block;
        color: #FFD700;
        text-align: center;
        padding: 1% 6%;
        font-size: 150%;

    }

    .topnav a:hover {
        background-color: #FFD700;
        color: black;
    }

    #login-dp{
        min-width: 350px;
        color:black;
        padding: 14px 14px 0;
        overflow:hidden;
    //  background-color:rgba(255,255,255,.8);
        background-color: orangered;
    }
    #login-dp .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    @media(max-width:768px){
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
    .btn:hover
    {
        background-color: chocolate;
        color:maroon;
    }

</style>
<body>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pedidos Cotoca</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/products">Productos</a></li>
                <li><a href="/admin/restaurants"><Afiliados>Restaurantes</Afiliados></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a><i class="glyphicon glyphicon-lock"></i><td th:text="${nameA}">Nombre </td></a></li>
                <li><a th:href="${'/logout'}"><Afiliados>Cerrar Sesion</Afiliados></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="mediana">
        <font align="center" size="10" color="Black" >
            <button style="color: #660066; background-color: #DDA0DD; width:40%;
                height:10%" type="submit"><b><a href="/admin/product/new"> New Producto</a></b></button>
        </font>
        <br/>
        <br/>
        <div class="container">
            <div th:if="${not #lists.isEmpty(products)}">
                <font align="center" size="10" color="purple" >
                    <b><u><h2>MENU</h2></u></b>
                </font>
                <div style="text-align: center">
                    <table border="0" cellpadding="1" cellspacing="1" width="60%" bgcolor="white" align="center">
                        <tr>
                            <th><font align="center" size="5" color="purple" >Plato</font></th>
                            <th><font align="center" size="5" color="purple" >Plato</font></th>
                            <th><font align="center" size="5" color="purple" >Precio</font></th>
                        </tr>
                        <br/>
                        <tr th:each="product : ${products}">
                            <td >
                                <img :src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYrTKCOqx155QSc0Rrbja51ybHMJNP4QSMU9SHBigni9J4ORV-0w" style="width:100px; height:100px;"/>
                            </td>

                            <td th:text="${product.name}"><font align="center" size="4" color="black" >title</font></td>
                            <td th:text="${product.amount}"><font align="center" size="4" color="black" >text</font></td>
                               <td><a th:href="${ '/admin/product/eliminar/' + product.id}"><font align="center" size="4" color="#660066" >Eliminar</font></a>
                                <a th:href="${ '/admin/product/editar/' + product.id}"><font align="center" size="4" color="#660066" >Editar</font></a></td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>